.cardBox {
    background-color: black;
    float: left;
    font-size: .5em;
    margin: 1% 0 0 1%;
    perspective: 100%;
    transition: all 0.3s ease 0s;
    width: 23.7%;
  }
  
  .cardBox:hover .card {
    transform: rotateY( 180deg);
  }
  
  .card {
    background: black;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }
  
  .card p {
    margin-bottom: 1em;
    font-size: 2em
  }
  
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: black;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .card .front strong {
    background: black;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  
  .card .back {
    transform: rotateY( 180deg);
  }
  
  .card .back  {
    padding: 0.3em 0.5em;
    background: #333;
    color: black;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
  }
  
  .card .back a:hover {
    background: red;
    color: red;
    text-shadow: 0 0 1px white;
  }
  
  .cardBox:nth-child(1) .card .back {
    background: white;
  }